@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  font-family: 'Rubik';
  margin: 0;
  padding: 0; }

html {
  font-size: 10%; }

h1 {
  color: hotpink;
  text-align: center;
  font-size: 24rem;
  font-weight: 200;
  padding: 10rem; }

h2 {
  color: white;
  text-align: center;
  font-size: 2rem; }

h3 {
  color: white;
  font-size: 2rem;
  text-align: center; }

footer p {
  color: white; }

body {
  background-image: url(../imagenes/pixel-heart.webp);
  background-attachment: fixed; }

/*FLEX CLASES*/
.displayFlex {
  display: flex; }

.justify-content {
  justify-content: space-around; }

.flex-direction-column, .accordion-button {
  flex-direction: column; }

.displayWrap {
  flex-flow: wrap row; }

.flex-centrado {
  justify-content: center; }

/*FIN  FLEX CLASES*/
.neqoLogo {
  width: 300px;
  object-fit: cover; }

/*LOGO NEQO GRANDE NEGRO*/
/*NAV SECTION*/
.navbar-light {
  background-color: #ffb3d9; }

.dropdown-menu {
  background-color: indianred; }

.navbar-light .navbar-nav .nav-link, .dropdown-item, .navbar-toggler {
  padding: 10px;
  font-size: 10rem; }

/*Arreglos visuales del Home */
.inicioPortada {
  width: 100%;
  object-fit: cover; }

.portfolioHome {
  object-fit: cover;
  width: 100%;
  height: 10rem; }

.textDecorationHome {
  text-decoration: none;
  color: DimGray;
  font-size: 15rem; }

/* aca portfolio index*/
#portfolioHome {
  justify-content: center; }

#portfolioHome img {
  object-fit: cover;
  width: 190rem;
  height: 290rem;
  padding: 13px; }

/*proyects index */
.proyectsHomeBlock {
  padding: 5%; }

.proyectsListHome {
  display: flex;
  justify-content: center;
  list-style-type: none; }

.proyectImg {
  object-fit: cover;
  width: 190rem;
  height: 290rem;
  padding: 13px; }

/*      aca empieza el footer    */
#footer {
  background-color: #ffb3d9;
  margin-top: 30px; }

footer ul {
  display: flex;
  justify-content: center;
  list-style-type: none; }

footer ul li {
  width: 25rem;
  margin: 5px 5px; }

.footerIcon {
  width: 100%;
  text-decoration: none; }

.footerTextPadding {
  text-align: center;
  text-decoration: none;
  color: black;
  padding: 0 0; }

#aboutmeBlock {
  display: flex;
  padding: 2%; }

.neqoIrl {
  width: 40%; }

.aboutmeDiv {
  padding: 1% 0;
  background-color: #ffe6cc; }

.colorGrayHI {
  color: #333333;
  font-size: 10rem;
  font-weight: 800; }

main p {
  font-size: 9rem;
  font-weight: bolder;
  color: #333333;
  padding: 2%;
  margin: 2%; }

/*portfolio */
.PortfolioMain {
  width: 100%; }

.displayJustify {
  justify-content: center; }

.displayJustify img {
  display: inline-block;
  width: 22%;
  margin: 0.5rem;
  object-fit: cover; }

/*Proyect*/
.proyectsList {
  display: flex;
  justify-content: center;
  list-style-type: none; }

.proyectsList li {
  padding: 1%; }

.accordion-item:last-of-type .accordion-button.collapsed {
  background-color: black; }

.img {
  width: 50%;
  object-fit: cover; }

.accordion-button {
  background-color: hotpink; }

.accordion-body {
  background-color: cornsilk; }

#accordionFlushExample, .accordion-header {
  background-color: lavenderblush;
  padding: 20px 10px; }

/* COMMISSIONS */
.artcomissionBlock {
  padding-top: 2%;
  margin-left: 15%;
  background-color: #ff4da9;
  width: 70%; }

select {
  width: 70%;
  height: 30px; }

.contact {
  padding: 3% 1%; }

.form-label, .form-control {
  padding-top: 1%;
  margin-left: 1%;
  width: 95%; }

.input-btn {
  padding: 5px 5px;
  margin: 1% 1%; }

p a {
  color: LemonChiffon;
  font-weight: bolder; }

/*  ANIMACIONES*/
@keyframes slow {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.homePortfolio:hover, .proyectImg:hover {
  filter: blur(2px);
  cursor: pointer; }

.dropdown-menu {
  animation-name: slow;
  animation-duration: 0.45s; }

.navbar-nav .nav-item .nav-link:hover {
  color: hotpink;
  transition: 1s; }

.dropdown-item:hover {
  color: hotpink;
  transition: 0.5s; }

@keyframes shadow {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.PortfolioMain img {
  animation-name: shadow;
  filter: grayscale(90%); }

.PortfolioMain img:hover {
  cursor: pointer;
  filter: grayscale(0); }

.hideDeskop {
  display: none; }

/*  FIN      FIN    ANIMACIONES*/
/*  LOS MEDIAQUERY  768  */
@media screen and (max-width: 768px) {
  .hide {
    display: none; }
  #aboutmeBlock {
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
    padding-bottom: 10%; }
  .neqoIrl {
    width: 50%;
    border-radius: 200px;
    filter: saturate(200%); } }

@media screen and (max-width: 320px) {
  #portfolioHome, .proyectsListHome {
    flex-direction: column;
    align-items: center; }
  .neqoIrl {
    width: 80%; }
  #aboutmeBlock {
    padding: 0 5%;
    padding-bottom: 8%; }
  #portfolioHome img {
    width: none; }
  .portfolioHome {
    height: 100%;
    margin-bottom: 10px; }
  .hide, .hideDeskop {
    display: block; }
  .hide320 {
    display: none; }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    height: 100px;
    width: 100px; }
  #footer {
    flex-direction: column; } }
