//fonts
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
$mainFont:'Rubik', sans-serif;

*{
	font-family:$mainFont;
	margin: 0;
	padding: 0;
}

html {
	font-size:$all-Size;
}


h1{
	color: map-get($map:$coloresText, $key:'uno');
	font-size: $principalSize;
	font-weight:$fontW-S;
	text-align: center;
	padding: 10rem;
	
}

h2{
	color:map-get($map:$coloresText, $key:'cinco');
	font-size: $thirthSize;
	font-weight: $font-L;
	text-align: center;	
	padding: 10px;

}
 
h3{
	color:map-get($map:$coloresText, $key:'dos');
	font-size: $forthSize;
	text-align: center;


}

footer p {
	color:map-get($map:$coloresText, $key:'tres');	
}


body {
	background-color:map-get($map:$coloresDiv, $key:'divcolor_uno');

}

a{
	text-decoration: none;
  	color:map-get($map:$coloresText, $key:'tres');
  	font-size: $thirthSize;
  	&:hover {
  		color:map-get($map:$coloresText, $key:'cinco');
		transition: 1s;
  	}
}