/*      aca empieza el footer    */

#footer{
	background-color:map-get($map:$coloresDiv, $key:'divcolor_dos');
	margin-top: 30px;
}

footer ul{
	display: flex;
	justify-content: center;
	list-style-type: none;
	li {
		width: 25rem;
	 	margin: 5px 5px;
	} 
 }



.footerIcon{
	width: 100%;
	text-decoration: none;
}

.footerTextPadding{
	text-align: center;
	text-decoration: none;
	color: map-get($map:$coloresText, $key:'seis');
	padding: 0 0;
}