//imports
@import "_vars";
@import "_mixins";
@import "_commons";
@import "_footer";


/*FLEX CLASES*/
.displayFlex{
 	display: flex;
} 

.justify-content{
	justify-content:space-around;
}

.aling-center{
	align-items: center;
}

.flex-centrado{
	justify-content: center
}

.flex-evely{
	justify-content: space-evenly;
}

.flex-direction-column, .accordion-button{
	flex-direction: column;
}

/*FIN  FLEX CLASES*/

/*LOGO NEQO IMG*/
.neqoLogo{
	width: $width20;
	object-fit: cover;
}



/*NAV SECTION*/

.navbar-light{
	background-color:map-get($map:$coloresDiv, $key:'navcolor_uno');
	font-weight:$fontW-S;
}


.navbar-light .navbar-nav .nav-link, .dropdown-item, .navbar-toggler {
    padding: 10px;
    font-size:$navBarSize;
}



/* aca portfolio y proyect index*/
#proyectHomeBlock, #portfolioHomeBlock {
	padding-bottom:5%;
}

  /*proyects y portfolio index */
#portfolioHome, .proyectsListHome{
	@include index-3(space-evenly, center);
	.img-Fixed {
		object-fit: cover;
		width: 190rem;
		height: 250rem;
		box-shadow:$shadow-home;
	}
}


//About me HTML
#aboutmeBlock{
	padding: 2%;
}

.neqoIrl{
	width: 40%;
}

.aboutmeDiv{
	padding: 1% 0;
	background-color:map-get($map:$coloresDiv, $key:'divcolor_cuatro');
	p {
		font-size:$forthSize;
		font-weight:$font-XXL;
		color:map-get($map:$coloresText, $key:'tres');
		padding: 2%;
		margin: 2%;
	}
}

// footer
#footer{
	@include flex-column(column, center);
}

/*portfolio html */
.PortfolioMain {
	width:$width100;
}

.porfolioBlock{
	@include flex-center(center);
	img {		
		width: 22%;
		margin: 0.5rem;
		object-fit: cover;
		}
}

/*Proyect.html*/

.img_proyects{
	width:$width70;
	object-fit: cover;
}

.img_{
	width:$width50;
	object-fit: cover;
}

.accordion-item:last-of-type .accordion-button.collapsed{
	font-size: 20px;
}

.accordion-item:last-of-type .accordion-collapse{
 background-color: rgb(241, 227, 243);	
}
#accordionFlushExample, .accordion-header{
	
	padding: 20px 10px;
	font-size: 20px;
}

button .accordion-button{
	font-size: large;
}

.p_2{
	margin: 10px 10px;
}



/* COMMISSIONS */

.artcomissionBlock{
	padding-top: 2%;
	margin-left: 15%;
	background: linear-gradient(220deg, #FFDC99 0%, #FF62C0 100%);
	width:$width70;
}


.word-wrap{
	font-size:$forthSize;
	margin: 0 20px;
}
.terms_txt{
	font-size:$forthSize;
	&:hover{
		color:map-get($map:$coloresDiv, $key:'divcolor_uno');
		transition: 8ms;
	}
}

select {
	width:$width70;
	height: 30px;
}

.contact{
	padding: 3% 1%;
}

.form-label, .form-control{
	padding-top:1%;
	margin-left:1%;
	width: 95%;
}
.input-btn{
	padding:5px 5px;
	margin: 1% 1%;
}

/** Contact html */
.contact_divText{
	background:linear-gradient(220.55deg, #e0d2da 0%, #FF9DE4 100%);
	font-size:$forthSize;
	font-weight:$font-XXL;
	width:90%;
	height: auto;
	padding: 12px 10px;
	margin: 10px;
}

.form-divContact{
	margin: 20px;
}

.btn-lg{
	width: 70px;
	height: auto;
	border-radius: 5px;
	margin-top: 30px;
	
}

/*  ANIMACIONES*/

@keyframes slow{
from{opacity: 0;}
to {opacity: 1;}
}

.img-Fixed:hover{
	filter: blur(2px);
	cursor: pointer;
}


.dropdown-menu{
	animation-name:slow;
	animation-duration: 0.45s;
}

.navbar-nav .nav-item .nav-link:hover{
 	color: map-get($map:$coloresText, $key:'cuatro');
 	transition: 1s;
 }

 .dropdown-item:hover{
 	color: map-get($map:$coloresText, $key:'cuatro');
 	transition: 0.5s;
 }

@keyframes shadow{
from{opacity: 0;}
to {opacity: 1;}
}

.PortfolioMain img{
	animation-name:shadow;
	filter: grayscale(90%);
	&:hover{
		transition: 0.3s;
		cursor: pointer;
		filter: grayscale(0)
	}
}

	/*  FIN      FIN    ANIMACIONES*/

.hideDeskop{
	display: none;
}

	/*  LOS MEDIAQUERY  768  */

@media screen and (max-width:768px){
			

			.hide, .hideDeskop{
				display: block;
			}

			.hide320{
				display: none;
			}

			#aboutmeBlock{
				@include flex-column(column, center);
				padding: 0 10%;
				padding-bottom: 10%;
			}

			#portfolioHome, .proyectsListHome{
				@include flex-column(column, center);
			}

			.portfolioHome{
				height: 50%;
			}

			#portfolioHome .img-Fixed, .proyectsListHome .img-Fixed{
				width: 400rem;
				padding-bottom: 20px;
			}

			.neqoIrl{
				width: 50%;
				border-radius: 200px;
				filter:saturate(110%) ;
			}


		}



			@media screen and (max-width:320px){

				#portfolioHome, .proyectsListHome{
					@include flex-column(column, center);
					.img-Fixed {
						object-fit: cover;
						width: 150rem;
						height: 250rem;
						padding: 10px 5px;
						padding: auto;
						box-shadow:$shadow-home;
					}
					
				}

				.neqoIrl{
					width: 80%;	
				}

				#aboutmeBlock{
					padding: 0 5%;
					padding-bottom: 8%;	
				}

				#portfolioHome img{
					width: none;
				}

				.portfolioHome{
					height: 100%;
					margin-bottom:10px ;
				}

				.hide, .hideDeskop{
					display: block;
				}

				.hide320{
					display: none;
				}

				.carousel-control-prev-icon, .carousel-control-next-icon{
					height: 100px;
					width: 100px;
				}
			}