//imports
@import "_vars";
@import "_commons";
@import "_footer";


/*FLEX CLASES*/

.displayFlex{
	display: flex;
} 

.justify-content{
	justify-content:space-around;
}

.flex-direction-column, .accordion-button{
	flex-direction: column;
}

.displayWrap{
	flex-flow:  wrap row;
}

.flex-centrado{
	justify-content: center
}

/*FIN  FLEX CLASES*/
/*LOGO NEQO GRANDE NEGRO*/

.neqoLogo{
	width: 300px;
	object-fit: cover;
}



/*NAV SECTION*/

.navbar-light{
	background-color:$navBar_mainColor;
	font-weight:$fontW-S;
}


.navbar-light .navbar-nav .nav-link, .dropdown-item, .navbar-toggler {
    padding: 10px;
    font-size: 10rem;
}

/*Arreglos visuales del Home */

.inicioPortada{
	width: 100%;
	object-fit: cover;
} 


.portfolioHome{
	object-fit: cover;
	width: 100%;
	height: 10rem;	

}


/* aca portfolio index*/

#portfolioHomeBlock{
	padding-bottom: 30px;
}
 
#portfolioHome{
 	justify-content: center;
 	img {
 		object-fit: cover;
		width: 190rem;
		height: 290rem;
		padding: 13px;
    }
}

 /*proyects index */

.proyectsHomeBlock{
 	padding: 5%;
 }

.proyectsListHome {
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.proyectImg{
	object-fit: cover;
	width: 190rem;
	height: 290rem;
	padding: 13px;	
}


#aboutmeBlock{
	display: flex;
	padding: 2%;
}

.neqoIrl{
	width: 40%;
}

.aboutmeDiv{
	padding: 1% 0;
	background-color:$abotmeDivColor;
	p {
		font-size:$forthSize;
		font-weight:$font-XXL;
		color:$textColorThird;
		padding: 2%;
		margin: 2%;

	}
}


/*portfolio */
.PortfolioMain {
	width: 100%;
}

.porfolioBlock{
	justify-content: center;
	img {		
		display: inline-block;
		width: 22%;
		margin: 0.5rem;
		object-fit: cover;
		}
}

/*Proyect*/


.proyectsList {
	display: flex;
	justify-content: center;
	list-style-type: none;
	li {
		padding: 1%;
	}
}

.accordion-item:last-of-type .accordion-button.collapsed{
	background-color: $textColorThird;
}

.img{
	width: 50%;
	object-fit: cover;
}

 .accordion-button{
	background-color: $secondColor;
}

.accordion-body{
	background-color: $textColorFourth;
}

#accordionFlushExample, .accordion-header{
	background-color: lavenderblush;
	padding: 20px 10px;
}



/* COMMISSIONS */

.artcomissionBlock{
	padding-top: 2%;
	margin-left: 15%;
	background-color: $comissionsColor;
	width: 70%;
}

select {
	width: 70%;
	height: 30px;
}


.contact{
	padding: 3% 1%;
}

.form-label, .form-control{
	padding-top:1%;
	margin-left:1%;
	    width: 95%;
}

.input-btn{
	padding:5px 5px;
	margin: 1% 1%;
}



/*  ANIMACIONES*/

@keyframes slow{
from{opacity: 0;}
to {opacity: 1;}
}

.homePortfolio:hover,.proyectImg:hover{
	filter: blur(2px);
	cursor: pointer;
}


.dropdown-menu{
	animation-name:slow;
	animation-duration: 0.45s;
}

.navbar-nav .nav-item .nav-link:hover{
 	color: $navhoverColor;
 	transition: 1s;
 }

 .dropdown-item:hover{
 	color: $navhoverColor;
 	transition: 0.5s;
 }

@keyframes shadow{
from{opacity: 0;}
to {opacity: 1;}
}

.PortfolioMain img{
	animation-name:shadow;
	filter: grayscale(90%);
}

.PortfolioMain img:hover{
	cursor: pointer;
	filter: grayscale(0)
}


.hideDeskop{
	display: none;
}

a:hover{
	color:$hoverColor;
	transition: 1s;
}
	/*  FIN      FIN    ANIMACIONES*/

	/*  LOS MEDIAQUERY  768  */

@media screen and (max-width:768px){
			

			.hide{
				display: none;
			}

			#aboutmeBlock{
				flex-direction: column;
				align-items: center;
				padding: 0 10%;
				padding-bottom: 10%;
			}


			.neqoIrl{
				width: 50%;
				border-radius: 200px;
				filter:saturate(110%) ;
			}


		}



			@media screen and (max-width:320px){

				#portfolioHome, .proyectsListHome{
					flex-direction: column;
    				align-items: center;
				}

				.neqoIrl{
					width: 80%;	
				}

				#aboutmeBlock{
					padding: 0 5%;
					padding-bottom: 8%;	
				}

				#portfolioHome img{
					width: none;
				}

				.portfolioHome{
					height: 100%;
					margin-bottom:10px ;
				}

				.hide, .hideDeskop{
					display: block;
				}

				.hide320{
					display: none;
				}

				.carousel-control-prev-icon, .carousel-control-next-icon{
					height: 100px;
   					width: 100px;
				}

				#footer{
					flex-direction: column;
				}
			}